@import '_variables.scss';

.categories {
  padding-top: 70px;
  padding-bottom: 35px;

  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
    grid-auto-flow: dense;
  }

  &__elem {
    border-radius: 10px;
    background-color: $grey_light;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: auto;
  }

  &__item-1 {
    grid-column: span 6;
  }

  &__item-2 {
    grid-column: span 4;
  }

  &__padding {
    padding: 30px;
    padding-top: 26px;
    padding-bottom: 32px;
  }

  &__div {
    flex-wrap: wrap;
    margin-bottom: 17px;
  }

  &__link-margin:not(:last-child) {
    margin-right: 30px;
  }

  &__subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
  }

  &__padding-link {
    padding: 30px;
    padding-bottom: 34px;
  }

  &__link {
    position: relative;
    width: 108px;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    line-height: 19.2px;
    font-weight: 700;
    color: $primary;
    transition: color .3s, border-color .3s;
  }

  &__link:hover,
  &__link:focus {
    border-color: $primary;
    outline: none;
  }

  &__link:hover &__btn {
    background-color: $primary;
  }

  &__link:hover &__next::before,
  &__link:focus &__next::before,
  &__link:active &__next::before {
    border-color: $white;
  }

  &__link:focus &__btn {
    background-color: $primary_light;
  }

  &__link:active &__btn {
    color: $primary_shade;
    background-color: $primary_shade;
  }

  &__btn {
    position: absolute;
    z-index: 13;
    left: 86px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border: none;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    border: 2px solid $primary;
    background: none;
    cursor: pointer;
    transition: background-color .3s;
  }

  &__btn::before {
    content: "";
    position: absolute;
    top: calc(50% - 8px / 2);
    width: 6.5px;
    height: 7px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }

  &__next::before {
    left: calc(50% - 10px / 2);
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
  }
}

@media (max-width: 1024px) {
  .categories {
    &__list {
      grid-template-columns: repeat(9, 1fr);
    }

    &__link-margin:not(:last-child) {
      margin-right: 20px;
    }

    &__elem {
      grid-column: span 3;
    }

    &__one {
      grid-column: span 6;
    }

    &__two {
      order: 1;
    }

    &__five {
      order: 3;
    }
  }
}

@media (max-width: 768px) {
  .categories {
    &__list {
      grid-template-columns: repeat(6, 1fr);
    }

    &__four {
      order: 3;
    }
  }
}

@media (max-width: 576px) {
  .categories {
    &__list {
      grid-gap: 16px;
    }
  }
}
