@import '_variables.scss';

.contacts {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
  padding-top: 35px;
  padding-bottom: 58px;

  &__elem {
    grid-column: span 6;
  }

  &__title {
    margin: 0;
    margin-bottom: 9px;
  }

  &__text {
    margin: 0;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 19.07px;
    color: $grey_shade;
  }

  &__tultipe {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 5px;
    border: none;
    border: 1px solid $secondary;
    border-radius: 50px;
    width: 14px;
    height: 14px;
    font-size: 12px;
    font-weight: 600;
    color: $secondary;
    background: none;
    cursor: pointer;
    transition: color .3s, background-color .3s;
  }

  &__tultipe:hover {
    color: $white;
    background-color: $secondary;
  }

  &__tultipe:focus {
    outline: none;
  }

  .tippy-box[data-theme~='black'] {
    border-radius: 0;
    background-color: $black;
  }

  .tippy-box[data-theme~='black'][data-placement^='top'] > .tippy-arrow::before {
    border-top-color: $black;
  }

  .tippy-box[data-theme~='black'][data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: $black;
  }

  .tippy-box[data-theme~='black'][data-placement^='left'] > .tippy-arrow::before {
    border-left-color: $black;
  }

  .tippy-box[data-theme~='black'][data-placement^='right'] > .tippy-arrow::before {
    border-right-color: $black;
  }

  &__label {
    display: block;
    position: relative;
  }

  &__input {
    grid-column: span 6;
    width: 100%;
    margin-bottom: 30px;
    padding-left: 18px;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 54px;
    background-color: $grey_light;
    transition: background-color .3s;
  }

  &__input::placeholder {
    font-size: 16px;
    line-height: 40px;
    color: $grey;
  }

  &__input:hover {
    background-color: $md_grey;
  }

  &__input:focus {
    border-color: $primary;
    background-color: $pink_light;
    outline: none;
  }

  &__input:active {
    background-color: $grey_light;
  }

  .just-validate-error-label {
    position: absolute;
    left: 18px;
    top: -21px;
    line-height: 16.34px;
  }

  &__btn {
    margin-bottom: 15px;
    padding: 17px 32px;
  }
  
  &__checkbox-wrap {
    font-size: 14px;
    cursor: pointer;
    -webkit-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }

  &__checkbox-content {
    display: flex;
    margin-bottom: 12px;
  }
  
  &__visual-check {
    position: relative;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid $grey;
    border-radius: 2px;
    width: 14px;
    height: 14px;
    transition: border-color 0.3s ease;
  }
  
  &__visual-check::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 13px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  &__checkbox:focus:not(:checked) ~ &__checkbox-content &__visual-check,
  &__checkbox:checked ~ &__checkbox-content &__visual-check {
    border-color: $primary;
    background-color: $primary;
  }
  
  &__checkbox:checked ~ &__checkbox-content &__visual-check::before {
    opacity: 1;
    background: url("../images/checkbox-mark.svg") no-repeat center;
  }

  &__link {
    color: $primary;
    text-decoration: underline;
  }

  &__link:focus {
    outline: none;
  }

  &::after {
    content: "";
    margin-top: 25px;
    grid-column: span 6;
    background-image: url("../images/contacts__photo-1.png");
    background-repeat: no-repeat;
  }
}

@media (max-width: 1024px) {
  .contacts {
    grid-template-columns: repeat(9, 1fr);

    &__elem {
      grid-column: span 4;
    }

    &::after {
      grid-column: span 5;
      margin-top: 77px;
      background-image: url("../images/contacts__photo-2.png");
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    grid-template-columns: repeat(6, 1fr);

    &__elem {
      grid-column: span 4;
    }

    &::after {
      grid-column: span 2;
      margin-top: 13px;
      background-image: url("../images/contacts__photo-3.png");
    }
  }
}

@media (max-width: 576px) {
  .contacts {
    &__elem {
      grid-column: span 6;
    }

    &__popap-container {
      width: 296px;
    }

    &__check-text {
      font-size: 12px;
      line-height: 16.34px;
    }

    &::after {
      display: none;
    }
  }
}
