@import '_variables.scss';

.offers {
  position: relative;
  padding-top: 70px;
  padding-bottom: 35px;

  &__title {
    margin-bottom: 26px;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__item {
    width: calc(328 / 1280 * 100% - 32px);
  }

  &__item--big {
    width: calc(656 / 1280 * 100% - 32px);
  }

  &__style-item {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 30px;
    border-radius: 10px;
    background-color: $grey_light;
  }

  &__sale {
    padding: 7px 19px;
    font-size: 14px;
    line-height: 19.07px;
    color: $white;
    background-image: url("../images/sale.png");
    background-repeat: no-repeat;
  }

  &__foto {
    display: flex;
    justify-content: center;
    margin-top: auto;
  }

  &__cube {
    padding: 30px;
  }

  &__subtitle {
    width: 225px;
    margin: 0;
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 31px;
    font-weight: normal;
  }

  &__price {
    margin-bottom: 23px;
  }

  &__new-price {
    margin: 0;
    margin-right: 30px;
    font-size: 18px;
    color: $secondary;
  }
  
  &__old-price {
    margin: 0;
    text-decoration: line-through;
    color: $grey;
  }

  &__subfoto {
    margin-top: 76px;
  }
}

@media (max-width: 1024px) {
  .offers {
    &__item,
    &__item--big {
      width: calc(296 / 952 * 100%);
    }

    &__subfoto {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .offers {
    &__item,
    &__item--big {
      width: 100%;
    }
  }
}