@import '_variables.scss';

.product {
  padding-bottom: 41px;

  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    grid-gap: 32px;
  }

  &__item-1,
  &__item-2 {
    grid-column: span 6;
  }

  &__item-2 {
    max-width: 544px;
  }

  &__elem {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 2px;
    line-height: 20.6px;
    color: $secondary;
  }

  &__star {
    margin-right: 6px;
  }

  &__modal-product {
    padding: 0;
    flex-direction: column;
    width: 1280px;
  }

  &__modal-order {
    flex-direction: column;
  }

  .modal-product-photo {
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__pop-up-photo:focus {
    outline: none;
  }

  &__cube {
    margin-top: 16px;
  }

  &__cube,
  &__cube-modal {
    justify-content: space-between;
    padding: 10px 25px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: $grey_light;
  }

  &__cube-modal {
    padding: 20px 50px;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 15.3px;
    line-height: 16px;
  }

  &__subtext {
    margin: 0;
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 25.2px;
  }

  .last-text {
    margin-bottom: 105px;
  }

  &__photo {
    justify-content: space-between;
    width: 526px;
  }

  &__modal-swiper {
    display: none;
  }

  &__swiper {
    padding: 20px 67px;
  }

  &__slider-wrapper {
    position: relative;
  }

  &__swiper-btn {
    top: 50%;
  }

  &__prev {
    left: 0;
    transform: translate(50%, -50%);
  }

  &__prev::before {
    left: calc(50% - 6px / 2);
    border-left: 2px solid $primary;
    border-bottom: 2px solid $primary;
  }
  
  &__next {
    right: 0;
    transform: translate(-50%, -50%);
  }

  &__next::before {
    left: calc(50% - 15px / 2);
    border-top: 2px solid $primary;
    border-right: 2px solid $primary;
  }

  &__modal-order {
    margin: 181px auto;
    padding: 30px;
  }

  .modal__title {
    margin-bottom: 8px;
  }

  .modal__text {
    margin: 0;
    margin-bottom: 30px;
    max-width: 374px;
    font-size: 14px;
    line-height: 19px;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 31.2px;
    font-weight: 400;
  }

  &__text-order {
    margin: 0;
    margin-bottom: 21px;
    font-size: 14px;
    line-height: 1;
    color: $grey;
  }

  &__price {
    margin: 0;
    margin-bottom: 21px;
    font-size: 36px;
    line-height: 46.8px;
  }

  &__div-links {
    flex-direction: column;
    align-items: flex-start;
  }

  &__btn {
    margin-bottom: 12px;
    padding: 17px 28px;
    max-width: 230px;
    font-size: 16px;
    line-height: 1;
  }

  &__link {
    margin-bottom: 111px;
    margin-left: 30px;
    line-height: 22px;
    color: $primary;
    cursor: pointer;
  }

  &__link:focus {
    outline: none;
  }

  &__category {
    display: flex;
    align-items: baseline;
    margin: 0;
    font-size: 14px;
    line-height: 25.2px;
    color: $grey;
  }

  &__category::before {
    content: '';
    border-bottom: 2px dotted;
    flex-grow: 1;
    order: 2;
    margin: 0 4px;
    max-width: 287px;
  }

  &__category-elem {
    order: 3;
    color: $black;
  }
}

@media (max-width: 1024px) {
  .product {
    padding-bottom: 35px;

    &__modal-product {
      flex-direction: column;
      width: 952px;
    }

    &__cube {
      padding: 10px;
    }

    &__cube-modal {
      display: none;
    }

    &__modal-swiper {
      display: block;
      background-color: $grey_light;
    }

    &__container {
      grid-template-columns: repeat(9, 1fr);
    }
    
    &__item-1 {
      grid-column: span 5;
    }

    &__item-2 {
      grid-column: span 4;
    }

    .last-text {
      margin-bottom: 83px;
    }
  }
}

@media (max-width: 768px) {
  .product {
    padding-bottom: 16px;

    &__container {
      grid-template-columns: repeat(6, 1fr);
    }

    &__item-1,
    &__item-2 {
      grid-column: span 6;
    }

    &__cube {
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-top: 32px;
      padding: 25px;
      width: 187px;
      height: 350px;
    }

    &__media-div {
      max-width: 514px;
    }
    
    .last-text {
      margin-bottom: 32px;
    }

    .item-order {
      grid-column: span 4;
    }

    &__modal-product {
      width: 624px;
    }
  }
}

@media (max-width: 567px) {
  .product {
    &__title {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 20.8px;
    }

    &__cube {
      flex-direction: row;
      width: 100%;
      height: 81px;
      padding: 10px;
    }

    .item-order {
      grid-column: span 6;
      margin-bottom: 32px;
    }

    &__text-order {
      margin-bottom: 16px;
    }

    .last-text {
      margin-bottom: 32px;
    }

    &__price {
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 31.2px;
    }

    &__div-links {
      width: 100%;
    }

    &__link {
      margin: 0;
      line-height: 20.8px;
    }

    &__category {
      font-size: 10px;
      line-height: 13.62px;
    }
  
    &__category::before {
      content: '';
      border-bottom: none;
      flex-grow: 0;
      order: 2;
      margin: 0 4px;
      width: 100%;
    }
  
    &__category-elem {
      font-size: 14px;
      line-height: 19.07px;
      order: 1;
    }

    &__photo {
      width: 100%;

      picture {
        width: 140px;
      }
    }
  }
}